.App{
  margin-top: 40px;
}

.nav-bar{
  background-color: #F55A5A;
  height: 55px;
}

.nav-img{
  width: 20px;
  padding: 19px 5px;
}

.nav-bar-content{
  display: flex;
  align-items: center;
  justify-content:center;
}

.nav-bar .website-title{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14.4608px;
  line-height: 18px;
  letter-spacing: -0.075em;
  color: #ffffff;
  margin: 0;
}

section{
  display: flex;
  padding: 2px 40px;
}

.travel-img{
  width: 125px;
  height: 168px;
  border-radius: 5px;
}

.container{
  padding: 10px;
}

.location{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  letter-spacing: 0.17em;
  color: #2B283A;
}

.map{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;  
  text-decoration-line: underline;
  color: #918E9B;
}

.description{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  color: #2B283A;
}

.date{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;
  color: #2B283A;
}

.title{
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  color: #2B283A;
}

.divider{
  border: 1px solid #F5F5F5;
  margin: 18px 40px 5px 10px;

}